include header

h1 PUG say: <br> HELLO HELLO как дела бро ? yo!
h2 #{ name + ' '+ course }

each item, index in goods
    p #{ item['name'] }

    img(
        src='images/'+item['image']
        class="test"
        alt="img"
        )


